.jumbotron {
color: white;
background-color: #4eb5f1;
text-align: center;
border: 30px;
padding: 5px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#city-search {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  margin: 0;
  padding: 0px;
  
}

#btn {
  /* border: 10px;
  border: solid gainsboro; */
  border-radius: 2px;
  display:inline-block;
  padding: 5px 5px;
  margin: 0 5px 5px 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 50;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}



#current-city {
  margin-left: 0;
  margin: 20px;
  border: 5px gray;
  border-bottom: solid azure;
  border-top: solid azure;
  border-left: solid azure;;
  text-align: left;
  padding: 20px;
  line-height: 1cm;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 20px;
}

#city-button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.forecast {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 20px;
}

.badge1 .badge2 .badge3 .badge4 .badge5 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  color: #ffffff;
  margin: 5px;
  width:200px;
  height: 80px;
  padding: 10px;
  border: 5PX solid whitesmoke;
  background-color: powderblue;
}